.size{
    font-size: 10px;
}

.head{
    background-color: black;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-image: url();
    background-repeat: no-repeat repeat;
    margin-top: 0px;
    top: 0;
  }

  .welcome{
      margin-top: 0px;
    margin-left:220px;
  }